@model List<Post>

<h1>Новости</h1>
<a href="/post/Create">Добавить новость</a>
<ul>
    @if (Model != null && Model.Any())
    {
        foreach (var news in Model)
        {
            <li>
                <h2 style="display: inline;">@news.Id - @news.Name</h2>
                <p>
                    @(news.Description.Length > 2 ? news.Description.Substring(0, 40) + "..." : news.Description)
                </p> 
                <a href="@Url.Action("Details", "Post", new { id = news.Id })">Читать полностью</a> 
                <a href="@Url.Action("Delete", "Post", new { id = news.Id })" onclick="return confirm('Вы уверены, что хотите удалить эту новость?');">Удалить</a>
            </li>
        }
    }
    else
    {
        <li>Нет новостей для отображения.</li>
    }
</ul>